<div align="center">

# Final Tutorial: UMD CMSC Class Analysis

## Michael Lacanilao, Alex Juan, and Yong Tae Kwon

Posted: TODO

Due: TODO

</div>

## Summary

  - [Descripton](#description)
  - [Data Cleaning](#data-cleaning)
    - [Retrieving Data](#retrieving-data)
    - [Cleaning Data](#retrieving-data)

## Description

TODO

## Data Cleaning

### Retrieving Data

TODO

### Cleaning Data

In [1]:
import pandas as pd

df = pd.read_csv('data/grades_table.csv', sep='\t+', encoding='utf-16', engine='python')
df

,Grade,Plus/Minus Grades,Course,Section,Term,Instructor Name,+,n/a,-
0,C,+,AASP100,0101,Fall 2016,"Walsh, S.",NaN,NaN,NaN
1,C,+,AASP100,0101,Fall 2017,"Walsh, S.",NaN,NaN,NaN
2,C,+,AASP100,0101,Fall 2018,"Walsh, S.",NaN,NaN,NaN
3,C,+,AASP100,0101,Spring 2017,"Walsh, S.",NaN,NaN,NaN
4,C,+,AASP100,0101,Spring 2019,"Walsh, S.",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
232819,A,+,WMST899,1101,Spring 2019,"Tambe, A.",NaN,NaN,NaN
232820,A,+,WMST899,I107,Sum I 2017,"Moses, C.",NaN,NaN,NaN
232821,A,+,WMST899,I111,Sum I 2018,"Tambe, A.",NaN,NaN,NaN
232822,A,+,WMST899,I111,Sum I 2019,"Tambe, A.",NaN,NaN,NaN
232823,A,+,WMST899,I211,Sum II 2017,"Tambe, A.",NaN,NaN,NaN